In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
import json

In [2]:
import pandas as pd
import json

with open("../data/data1.json", "r") as f:
    data = json.load(f)

df = pd.json_normalize(
    data['data'], 
    record_path=['paragraphs', 'qas'],
    meta=[['title'], ['paragraphs', 'context']]
)

df.head()

,answers,question,id,title,paragraphs.context
0,"[{'answer_start': 177, 'text': 'Denver Broncos...",Which NFL team represented the AFC at Super Bo...,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...
1,"[{'answer_start': 249, 'text': 'Carolina Panth...",Which NFL team represented the NFC at Super Bo...,56be4db0acb8001400a502ed,Super_Bowl_50,Super Bowl 50 was an American football game to...
2,"[{'answer_start': 403, 'text': 'Santa Clara, C...",Where did Super Bowl 50 take place?,56be4db0acb8001400a502ee,Super_Bowl_50,Super Bowl 50 was an American football game to...
3,"[{'answer_start': 177, 'text': 'Denver Broncos...",Which NFL team won Super Bowl 50?,56be4db0acb8001400a502ef,Super_Bowl_50,Super Bowl 50 was an American football game to...
4,"[{'answer_start': 488, 'text': 'gold'}, {'answ...",What color was used to emphasize the 50th anni...,56be4db0acb8001400a502f0,Super_Bowl_50,Super Bowl 50 was an American football game to...